# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Editor
.idea/
*-workspace

# DB
.dynamodb/
*.db

# Build
.build/

# Environment variables
.env

# Middleware
.middleware/
